.icon-48-logo {
      background-image: url(../images/logo.png);
      padding-left:60px!important;
}

.form-horizontal .controls {
    margin-left: 200px !important;
}

/*page info*/
#ht .hockey-ok{float:right; color: green}
#ht .hockey-error{float:right; color: red}
#ht .hockey-ok i, #ht .hockey-error i {margin-right:10px}


